:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-grey-200: #DCE1EB;
  --clr-grey-300: #87898F;
  --clr-grey-600: #252525;
  --clr-grey-800: #181818;


  --clr-primary-600: #91CB68;

  --clr-accent-blue: #53A2F9;
  --clr-accent-purple: #9E80DC;
  --clr-accent-orange: #E8A752;
  --clr-accent-red: #D44538;

  /* Font Styling */
  --ff-base: 'Inter', sans-serif;

  --fw-ligth: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* Padding */
  --padding-100: 0.25em;
  --padding-200: 0.5em;
  --padding-300: 0.75em;
  --padding-400: 1em;
  --padding-500: 1.25em;
  --padding-600: 1.5em;
  --padding-700: 2em;
  --padding-750: 3em;
  --padding-800: 4em;
  --padding-850: 6em;
  --padding-900: 8em;
  --padding-950: 10em;
}


/* -- Document Reset -- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* 1. Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
}

/* 4. Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* 5. Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 6. A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 7. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 8. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* -- Global Styles -- */

body {
  background-color: var(--clr-grey-800);
  font-family: var(--ff-base);
  margin: 0 var(--padding-500);
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h3 {
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h4 {
  font-size: 14px;
  line-height: 18px;
  padding-top: var(--padding-200);
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-300);
  text-align: center;
  width: 70vw;
}

.page-header {
  margin: var(--padding-200) 0 var(--padding-100) 0;
}

.heading-title {
  margin-top: -2em;
  text-align: center;
}

.btn-back {
  color: var(--clr-grey-200);
  font-size: 14px;
  padding: var(--padding-500) 0;
}

.container-community,
.container-maps,
.btn-user-routes,
.btn-back,
#mobile-nav-profile, 
#btn-sign-in, 
#btn-sign-up,
#submit-join,
#submit-login,
#profile-picture-options > label,
#btn-track-finished,
#btn-gpx,
#btn-add-community,
#btn-plan-community,
#btn-community-participate,
#btn-logout {
  cursor: pointer;
}

/* -- Container Styles -- */

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padding-700 {
  padding-bottom: var(--padding-700);
}

.container-padding-750 {
  padding-bottom: var(--padding-750);
}

.container-padding-800 {
  padding-bottom: var(--padding-800);
}

.container-padding-850 {
  padding-bottom: var(--padding-850);
}



/* -- Index -- */

.container-btn-filter {
  display: flex;
  overflow: auto;
  ;
}

.btn-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 75px;
  font-size: 12px;
  color: var(--clr-grey-800);
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: var(--clr-grey-300);
  border: 1px solid var(--clr-grey-300);
  margin-right: var(--padding-200);
}

.container-btn-filter::-webkit-scrollbar {
  display: none;
}

.container-center>img {
  margin: 0 -1.25em;
}

#heading-img {
  min-width: 100vw;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(70%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  /* Add fallback value */
}



/* CSS für die ungeordnete Liste */
ul {
  display: flex;
  padding-top: var(--padding-200);
}

.container-btn-list {
  display: flex;
  justify-content: space-between;
}

.btn-list {
  flex: 1; /* Distribute available space equally among all buttons */
  height: 35px;
  font-size: 12px;
  color: var(--clr-grey-800);
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--clr-grey-300);
  border: 1px solid var(--clr-grey-300);
  margin-top: var(--padding-300);
}


#list-overview,
#single-route {
  width: 43vw;
}


.btn-filter-distance-active {
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-800);
  border: 0;
}

.btn-submit {
  width: 100%;
  height: 35px;
  font-size: 14px;
  background-color: var(--clr-primary-600);
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--clr-white);
  margin-top: var(--padding-300);
  margin-bottom: 5.5em;
}


/* -- Weather -- */
#weather-icon {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 90vw;
}

#container-clothes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--padding-300);
  border-radius: 15px;
  gap: 10px;
  margin-bottom: var(--padding-500);
}

.clothes {
  background-color: var(--clr-grey-600);
  border-radius: 10px;
}

/* -- Sign in -- */
#btn-sign-in {
  background-color: var(--clr-primary-600);
  color: var(--clr-white);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 65px;
  width: calc(100% - 40px)
}

#btn-sign-up {
  background-color: var(--clr-grey-600);
  color: var(--clr-primary-600);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px)
}

#profile-picture-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--padding-500);
  gap: 10px;
}

#profile-picture-options label img {
  border-radius: 50%;
  max-width: 85px;
}

label.selected-img img {
  border: 2px solid var(--clr-primary-600);
}

.login-interface {
  display: flex;
  flex-direction: column;
}

#join-firstname,
#join-name,
#join-lastname,
#join-email,
#join-password,
#login-email,
#login-password {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-400);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#password {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-300);
  margin-bottom: var(--padding-700);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#join-password {
  margin-bottom: var(--padding-750);
}

#submit-login,
#submit-join {
  background-color: var(--clr-primary-600);
  color: var(--clr-white);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: var(--padding-600);
}

input:focus::placeholder {
  color: transparent;
}

#forgot-password {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: var(--clr-grey-300);
  text-decoration: underline;
  padding-top: var(--padding-200);
}


/* -- Mobile Navigation -- */
.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-300);
  border-top: 1px solid var(--clr-grey-600);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: -6px;
}

.mobile-nav-icon {
  filter: invert(66%) sepia(56%) saturate(38%) hue-rotate(188deg) brightness(74%) contrast(82%);
  height: 24px;
  margin-bottom: -1px;
  margin-left: 1px;
}

.mobile-nav-description {
  font-size: 9px;
}

#mobile-nav-active-link {
  color: var(--clr-grey-200);
}

#mobile-nav-active-icon {
  filter: invert(95%) sepia(6%) saturate(777%) hue-rotate(185deg) brightness(97%) contrast(90%);
}


/* -- Overview Maps -- */
.container-maps {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
}

.maps-margin {
  margin-left: 15px;
}

.maps-img-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.maps-map-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.maps-checkmark {
  position: absolute;
  height: 15px;
  margin: -20px 0 0 80px;
}

.maps-margin-bottom {
  margin-bottom: -5px;
}

.maps-distance {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.maps-distance>img {
  height: 7px;
  margin: 3px 5px 0 0;
}

.maps-distance>p {
  color: var(--clr-grey-200);
  font-size: 10px;
}

.maps-filters {
  background-color: var(--clr-accent-blue);
  font-size: 9px;
  color: var(--clr-white);
  border-radius: 10px;
  width: 47px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-200);
}

.Hügelig {
  background-color: var(--clr-accent-orange);
}

.Bergig {
  background-color: var(--clr-accent-red);
}

.maps-seperator {
  height: 0.75px;
  background-color: var(--clr-grey-600);
}


/* -- Display Single Map -- */
#back-overview {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#back-overview a {
  display: flex;
  align-items: center;
}

#icon-chevron {
  display: none;
  height: 20px;
  margin-right: 5px;
}

#map {
  width: 100%;
}

.single-map-big {
  border-radius: 15px;
  height: 220px;
  width: 100vw;
  object-fit: cover;
}

#single-map-name {
  padding-top: var(--padding-200);
  word-break: break-word;
}

.break-point {
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: end;
}

#btn-track-finished {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 70px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-800);
  margin-top: var(--padding-500);
}

#add-track-finished {
  width: 9px;
  margin-right: 3px;
}

#finished-map {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 10px;
  width: 70px;
  height: 20px;
  color: var(--clr-grey-200);
  margin-top: var(--padding-500);
  margin-left: 10px;
}

#btn-gpx,
#btn-add-community {
  background-color: var(--clr-primary-600);
  width: 100%;
  height: 35px;
  color: var(--clr-white);
  font-size: 14px;
  border-radius: 10px;
  margin-top: var(--padding-600);
  margin-bottom: 9px;
}

#btn-plan-community {
  background-color: var(--clr-grey-600);
  width: 100%;
  height: 35px;
  color: var(--clr-primary-600);
  font-size: 14px;
  border-radius: 10px;
}

.single-map-description {
  font-size: 11px;
  line-height: 16px;
  margin-top: var(--padding-600);
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-200);
  width: 100%;
  margin-bottom: var(--padding-850);
}

#shuffle-again {
  display: none;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: var(--fw-medium);
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-200);
  border-radius: 10px;
  width: 90%;
  height: 35px;
  position: relative;
  margin-top: -4.75em;
  margin-bottom: 2.25em;
}


/* -- Profile -- */
.container-userinfos {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-name {
  font-size: 16px;
  font-weight: var(--fw-regular);
  display: none;
}

#user-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: none;
}

.btn-user-routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding-400);
  width: 100%;
  height: 45px;
  font-size: 14px;
  border-radius: 15px;
  color: var(--clr-grey-200);
  background-color: var(--clr-grey-600);
  margin-bottom: var(--padding-200);
}

.btn-chevron {
  height: 16px;
  margin-right: 16px;
}

#btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  width: calc(100% - 40px);
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  color: var(--clr-primary-600);
  background-color: var(--clr-grey-600);
}


/* -- Skeleton Loading [Overview Maps] -- */
.skeleton-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
}

.skeleton-flex {
  display: flex;
  flex-direction: row;
}

.skeleton-hidden {
  display: none;
}

.skeleton-map {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.skeleton-name {
  width: 150px;
  height: 20px;
  border-radius: 30px;
}

.skeleton-user-name {
  width: 125px;
  height: 20px;
  border-radius: 30px;
  margin-top: var(--padding-500);
}

.skeleton-data {
  width: 50px;
  margin-right: 3px;
  height: 15px;
  border-radius: 30px;
}

.skeleton-filters {
  font-size: 9px;
  color: var(--clr-white);
  border-radius: 10px;
  width: 47px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-200);
}

/* -- Skeleton Loading [Single Page] -- */
#skeleton-comm-ride {
  margin-top: -20px;
}

.skeleton-single-map-back {
  margin-top: -38px;
  position: absolute;
  border-radius: 15px;
  height: 20px;
  width: 70px;
}

.skeleton-single-map-big {
  margin-top: var(--padding-500);
  border-radius: 15px;
  height: 220px;
  width: 100%;
}

.skeleton-single-map-container {
  margin-top: var(--padding-300);
  display: flex;
  justify-content: space-between;
}

.skeleton-single-map-name {
  width: 150px;
  height: 20px;
  border-radius: 30px;
}

.skeleton-single-map-finished {
  width: 70px;
  height: 20px;
  border-radius: 30px;
}


.skeleton-single-map-data {
  width: 50px;
  height: 15px;
  border-radius: 30px;
  margin-right: 3px;
}

.skeleton-single-map-download {
  margin-top: var(--padding-500);
  border-radius: 10px;
  height: 35px;
  width: 100%;
}

.skeleton-single-map-community {
  margin-top: var(--padding-200);
  border-radius: 10px;
  height: 35px;
  width: 100%;
}

/* Skeleton Loading [Profile] */
.skeleton-profile-picture {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}


.skeleton-datetime {
  width: 125px;
  margin-right: 3px;
  height: 15px;
  border-radius: 30px;
}

/* Skeleton Loading [Weather] */
.skeleton-box {
  width: 88px;
  height: 88px;
  border-radius: 10px;
}


/* -- Skeleton Loading [Background Styling] -- */

.skeleton-map,
.skeleton-name,
.skeleton-user-name,
.skeleton-data,
.skeleton-filters,
.skeleton-single-map-back,
.skeleton-single-map-big,
.skeleton-single-map-name,
.skeleton-single-map-finished,
.skeleton-single-map-data,
.skeleton-single-map-download,
.skeleton-single-map-community,
.skeleton-profile-picture,
.skeleton-datetime,
.skeleton-box {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%),
    var(--clr-grey-600);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0,
      /* move highlight to right */
      0 0;
  }
}


/* Community */
.user-picture {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.container-community {
  display: flex;
  flex-direction: row;
  margin-top: var(--padding-300);
  margin-bottom: var(--padding-300);
}

.container-details {
  padding-left: var(--padding-400);
}

#btn-community-participate {
  background-color: var(--clr-grey-600);
  width: 100%;
  height: 35px;
  color: var(--clr-primary-600);
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 9px;
}

/* Plan Community */

.date-selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -0.75em;
  margin-top: -0.5em;
}

#date-dropdown,
#time-dropdown {
  margin-top: var(--padding-700);
  background-color: var(--clr-grey-200);
  background-image: url(../img/icon-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 4px);
  background-size: 13px;
  font-size: 12px;
  border-radius: 10px;
  padding: var(--padding-300) var(--padding-600) var(--padding-300) var(--padding-300);
  appearance: none;
}

#date-dropdown {
  width: 100%;
  margin-right: 5%;
}

#time-dropdown {
  width: 30%;
}


/* -- Responive Design -- */

@media (min-width: 375px) {
  #map {
    height: 300px;
  }
}

  @media (min-width: 500px) {
  #map {
    height: 400px;
  }

  .skeleton-single-map-big {
    height: 400px;
  }
}

@media (min-width: 700px) {
  #map {
    width: 100%;
    height: 500px;
  }

  .skeleton-single-map-big {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 980px) {

  h1 {
    font-size: 30px;
    line-height: 38px;
  }

  h2 {
    font-size: 22px;
    line-height: 28px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
    padding-top: var(--padding-100);
  }

  .page-header {
    margin: var(--padding-200) 0 var(--padding-100) 0;
  }

  .heading-title {
    margin-top: -2em;
    text-align: center;
  }

  .btn-back {
    color: var(--clr-grey-200);
    font-size: 16px;
    padding: var(--padding-500) 0;
  }
}

@media (min-width: 980px) {
  .btn-filter {
    height: 38px;
    width: 85px;
    font-size: 14px;
  }

  .btn-list {
    margin-top: var(--padding-750);
    font-size: 16px;
    height: 45px;
  }

  .btn-submit, 
  #submit-login,
  #submit-join  {
    font-size: 16px;
    height: 45px;
  }

  #submit-join {
    margin-bottom: var(--padding-600);
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: rgba(24, 24, 24, 0.85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--clr-grey-300);
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid var(--clr-grey-600);
  }

  #mobile-nav-first-element {
    margin-left: calc((100vw - 980px) / 2);
  }

  .maps-checkmark {
    height: 15px;
    margin: -25px 0 0 125px;
  }
}


@media (min-width: 980px) {
  body {
    max-width: 980px;
    margin: 0 auto;
  }

  #heading-img {
    margin-top: 500px;
    max-width: 980px;
    min-width: 980px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: var(--padding-600);
  }

  #list-overview, #single-route {
    max-width: 480px;
  }

  .btn-submit {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2em;
  }
}


@media (min-width: 980px) {
  .mobile-nav-icon {
    display: none;
  }

  .mobile-nav-description {
    font-size: 16px;
  }

  #mobile-nav-profile {
  margin-left: 41.1em;
  }

  .container-center {
    margin-top: 50px;
  }

  #back-overview {
    margin-top: 50px;
  }

  .page-header {
    margin-top: 70px;
  }
}

@media (min-width: 980px) {
  .single-map-big {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .maps-img-container {
    width: 150px;
    height: 150px;
    min-width: 150px;
  }
}

/* -- Responsive Weather -- */
@media (min-width: 980px) {
  #container-clothes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: var(--padding-300);
    border-radius: 15px;
    gap: 10px;
    margin-bottom: var(--padding-500);
  }

  .skeleton-box {
    width: 155px;
    height: 155px;
  }
}


/* -- Resposive Maps -- */
@media (min-width: 980px) {
  .maps-distance>img {
    height: 10px;
    margin: 3px 5px 0 0;
  }

  .maps-distance>p {
    font-size: 12px;
  }

  .user-picture {
    width: 90px;
    height: 90px;
  }

  #shuffle-again {
    width: 95%;
    height: 45px;
    margin-top: -5.5em;
    margin-bottom: 2.3em;
  }

  .maps-filters {
    background-color: var(--clr-accent-blue);
    font-size: 11px;
    color: var(--clr-white);
    border-radius: 20px;
    width: 55px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--padding-200);
  }

  .Hügelig {
    background-color: var(--clr-accent-orange);
  }

  .Bergig {
    background-color: var(--clr-accent-red);
  }

  #btn-track-finished {
    font-size: 12px;
    width: 80px;
    height: 25px;
  }

  #finished-map {
    font-size: 12px;
  }

  #add-track-finished {
    width: 10px;
    margin-right: 5px;
  }

  #btn-gpx,
  #btn-community-participate,
  #btn-plan-community,
  #btn-add-community,
  #time-dropdown,
  #date-dropdown {
    font-size: 16px;
    height: 45px;
  }

  #date-dropdown {
    margin-right: 3%;
  }

  .single-map-description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 980px) {
  #mobile-nav-active-link {
    color: var(--clr-grey-200);
    font-weight: var(--fw-medium);
  }
}

/* -- Responsive Profile -- */
@media (min-width: 980px) {

  .overflow-hidden {
    overflow-y: hidden;
  }

  #user-img {
    width: 90px;
    height: 90px;
  }

  #user-name {
    font-size: 20px;
  }

  .btn-user-routes {
    height: 55px;
    font-size: 16px;
  }

  #btn-logout {
    font-size: 16px;
    height: 46px;
    bottom: 40px;
    width: 100%;
    max-width: 980px;
  }
}

@media (min-width: 980px) {

  #btn-sign-in,
  #btn-sign-up {
    font-size: 16px;
    height: 45px;
    max-width: 980px;
  }

  #btn-sign-in {
    bottom: 80px;
  }

  #join-firstname,
  #join-name,
  #join-lastname,
  #join-email,
  #join-password,
  #login-email,
  #login-password {
    height: 45px;
    font-size: 14px;
  }

  #profile-picture-options label img {
    max-width: 130px;
  }
}

/* -- Skeleton Loading [Responsive] -- */

@media (min-width: 980px) {
  .skeleton-map {
    width: 150px;
    height: 150px;
  }

  .skeleton-name {
    width: 200px;
    height: 25px;
  }
  
  .skeleton-data {
    width: 50px;
    margin-top: 5px;
    margin-right: 10px;
  }
  
  .skeleton-filters {
    width: 55px;
    height: 23px;
    margin-top: 10px;
  }

  .skeleton-single-map-back {
    height: 21px;
    width: 80px;
  }
  
  .skeleton-single-map-big {
    height: 500px;
    width: 100%;
  }
  
  .skeleton-single-map-name {
    width: 200px;
    height: 25px;
  }
  
  .skeleton-single-map-finished {
    margin-top: 5px;
    width: 80px;
    height: 25px;
  }
  
  .skeleton-single-map-data {
    width: 50px;
    height: 15px;
  }
  
  .skeleton-single-map-download {
    height: 45px;
    width: 100%;
  }
  
  .skeleton-single-map-community {
    height: 45px;
    width: 100%;
  }

  .skeleton-profile-picture {
    width: 90px;
    height: 90px;
  }
}

