:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-grey-200: #DCE1EB;
  --clr-grey-300: #87898F;
  --clr-grey-600: #252525;
  --clr-grey-800: #181818;

  --clr-primary-300:
    /* wird noch definiert */
  ;
  --clr-primary-600: #91CB68;
  --clr-primary-900:
    /* wird noch definiert */
  ;

  --clr-accent-blue: #53A2F9;
  --clr-accent-purple: #9E80DC;
  --clr-accent-orange: #E8A752;
  --clr-accent-red: #D44538;

  /* Font Styling */
  --ff-base: 'Inter', sans-serif;

  --fw-ligth: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* Padding */
  --padding-100: 0.25em;
  --padding-200: 0.5em;
  --padding-300: 0.75em;
  --padding-400: 1em;
  --padding-500: 1.25em;
  --padding-600: 1.5em;
  --padding-700: 2em;
  --padding-750: 3em;
  --padding-800: 4em;
  --padding-850: 6em;
  --padding-900: 8em;
  --padding-950: 10em;
}


/* -- Document Reset -- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* 1. Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
}

/* 4. Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* 5. Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 6. A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 7. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 8. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* -- Global Styles -- */

body {
  background-color: var(--clr-grey-800);
  font-family: var(--ff-base);
  margin: 0 var(--padding-500);
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h3 {
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h4 {
  font-size: 14px;
  line-height: 18px;
  padding-top: var(--padding-200);
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-300);
  text-align: center;
  width: 70vw;
}

.page-header {
  margin: var(--padding-200) 0 var(--padding-100) 0;
}

.heading-title {
  margin-top: -2em;
  text-align: center;
}

.btn-back {
  color: var(--clr-grey-200);
  font-size: 14px;
  padding: var(--padding-500) 0;
}

/* -- Container Styles -- */

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padding-700 {
  padding-bottom: var(--padding-700);
}

.container-padding-750 {
  padding-bottom: var(--padding-750);
}

.container-padding-800 {
  padding-bottom: var(--padding-800);
}

.container-padding-850 {
  padding-bottom: var(--padding-850);
}



/* -- Index -- */

.container-btn-filter {
  display: flex;
  overflow: auto;
  ;
}

.btn-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 75px;
  font-size: 12px;
  color: var(--clr-grey-800);
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: var(--clr-grey-300);
  border: 1px solid var(--clr-grey-300);
  margin-right: var(--padding-200);
  scrollbar-color: transparent;
}

.container-btn-filter::-webkit-scrollbar {
  display: none;
}

.container-center>img {
  margin: 0 -1.25em;
}

#heading-img {

  min-width: 100vw;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(70%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  /* Add fallback value */
}



/* CSS für die ungeordnete Liste */
ul {
  display: flex;
  padding-top: var(--padding-200);
}

.container-btn-list {
  display: flex;
  justify-content: space-between;
}

.btn-list {
  display: inline-block;
  width: 42vw;
  height: 35px;
  font-size: 12px;
  color: var(--clr-grey-800);
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--clr-grey-300);
  border: 1px solid var(--clr-grey-300);
  margin-top: var(--padding-300);
  margin-right: 0;
}

.btn-filter-distance-active {
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-800);
  border: 0;
}

.btn-submit {
  width: 87.5vw;
  height: 35px;
  font-size: 14px;
  background-color: var(--clr-primary-600);
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--clr-white);
  margin-top: var(--padding-300);
  margin-bottom: 5.5em;
}


/* -- Weather -- */
#weather-icon {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 90vw;
}


/* -- Login -- */
#btn-sign-in{
  background-color: var(--clr-primary-600);
  color: var(--clr-white);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 65px;
  width: 87.5%;
}

#btn-sign-up {
  background-color: var(--clr-grey-600);
  color: var(--clr-primary-600);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 20px;
  width: 87.5%;
}


/* -- Sign in -- */

.login-interface {
  display: flex;
  flex-direction: column;
}

#join-firstname,
#join-name,
#join-lastname,
#join-email,
#join-password,
#join-password-confirmation,
#login-email,
#login-password {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-400);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#password {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-300);
  margin-bottom: var(--padding-700);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#submit-login,
#submit-join {
  background-color: var(--clr-primary-600);
  color: var(--clr-white);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: var(--padding-600);
}

input:focus::placeholder {
  color: transparent;
}

#forgot-password {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: var(--clr-grey-300);
  text-decoration: underline;
  padding-top: var(--padding-200);
}


/* -- Mobile Navigation -- */

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-300);
  border-top: 1px solid var(--clr-grey-600);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: -6px;
}

.mobile-nav-icon {
  filter: invert(66%) sepia(56%) saturate(38%) hue-rotate(188deg) brightness(74%) contrast(82%);
  height: 24px;
  margin-bottom: -1px;
  margin-left: 1px;
}

.mobile-nav-description {
  font-size: 9px;
}

#mobile-nav-active-link {
  color: var(--clr-grey-200);
}

#mobile-nav-active-icon {
  filter: invert(95%) sepia(6%) saturate(777%) hue-rotate(185deg) brightness(97%) contrast(90%); 
}


/* -- Overview Maps -- */

.container-maps {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
}

.maps-margin {
  margin-left: 15px;
}

.maps-img-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.maps-map-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.maps-checkmark {
  position: absolute;
  height: 15px;
  margin: -20px 0 0 80px;
}

.maps-distance {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.maps-distance>img {
  height: 7px;
  margin: 3px 5px 0 0;
}

.maps-distance>p {
  color: var(--clr-grey-200);
  font-size: 10px;

}

.maps-filters {
  background-color: var(--clr-accent-blue);
  font-size: 9px;
  color: var(--clr-white);
  border-radius: 10px;
  width: 47px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-200);
}

.maps-seperator {
  height: 0.75px;
  background-color: var(--clr-grey-600);
}

/* -- Overview Maps [Skeleton Loading] -- */

.skeleton-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
}

.skeleton-hidden {
  display: hidden;
}

.skeleton-map {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%),
    var(--clr-grey-600);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0,
      /* move highlight to right */
      0 0;
  }
}

.skeleton-name {
  width: 150px;
  height: 20px;
  border-radius: 30px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%),
    var(--clr-grey-600);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0,
      /* move highlight to right */
      0 0;
  }
}


.skeleton-data {
  width: 50px;
  margin-right: 3px;
  height: 15px;
  border-radius: 30px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%),
    var(--clr-grey-600);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0,
      /* move highlight to right */
      0 0;
  }
}

.skeleton-filters {
  font-size: 9px;
  color: var(--clr-white);
  border-radius: 10px;
  width: 47px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-200);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%),
    var(--clr-grey-600);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0,
      /* move highlight to right */
      0 0;
  }
}


/* -- Display Single Map -- */

#back-overview {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#back-overview a {
  display: flex;
  align-items: center;
}

#icon-chevron {
  display: none;
  height: 20px;
  margin-right: 5px;
}

.single-map-big {
  border-radius: 15px;
  height: 220px;
  width: 100vw;
  object-fit: cover;
}

#single-map-name {
  width: 100%;
  padding-top: var(--padding-200);
}

#btn-track-finished {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 70px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-800);
  margin-top: var(--padding-500);
  margin-left: 10px;
}

#add-track-finished {
  width: 9px;
  margin-right: 3px;
}

#finished-map {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 10px;
  width: 70px;
  height: 20px;
  color: var(--clr-grey-200);
  margin-top: var(--padding-500);
  margin-left: 10px;
}

#btn-gpx {
  background-color: var(--clr-primary-600);
  width: 100%;
  height: 35px;
  color: var(--clr-white);
  font-size: 14px;
  border-radius: 10px;
  margin-top: var(--padding-600);
  margin-bottom: 9px;
}

#btn-add-community {
  background-color: var(--clr-grey-600);
  width: 100%;
  height: 35px;
  color: var(--clr-primary-600);
  font-size: 14px;
  border-radius: 10px;
}

.single-map-description {
  font-size: 11px;
  line-height: 16px;
  margin-top: var(--padding-600);
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-200);
  width: 100%;
  margin-bottom: var(--padding-850);
}

#shuffle-again {
  display: none;
  font-size: 14px;
  font-weight: var(--fw-medium);
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-200);
  border-radius: 10px;
  width: 80%;
  height: 35px;
  position: absolute;
  margin: -3.25em 0 0 0.75em;
}


/* -- Profile -- */

.container-userinfos {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-name {
  font-size: 16px;
  font-weight: var(--fw-regular);
}

#user-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.btn-user-routes {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: var(--padding-400);
  width: 100%;
  height: 45px;
  font-size: 14px;
  border-radius: 15px;
  color: var(--clr-grey-200);
  background-color: var(--clr-grey-600);
  margin-bottom: var(--padding-200);
}

#btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  width: 87.5%;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  color: var(--clr-primary-600);
  background-color: var(--clr-grey-600);
}