:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-grey-200: #DCE1EB;
  --clr-grey-300: #87898F;
  --clr-grey-600: #252525;
  --clr-grey-800: #181818;

  --clr-primary-300: /* wird noch definiert */;
  --clr-primary-600: #91CB68;
  --clr-primary-900: /* wird noch definiert */;

  --clr-accent-blue: #53A2F9;
  --clr-accent-purple: #9E80DC;
  --clr-accent-orange: #E8A752;
  --clr-accent-red: #D44538;

  /* Font Styling */
  --ff-base: 'Inter', sans-serif;

  --fw-ligth: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* Padding */
  --padding-100: 0.25em;
  --padding-200: 0.5em;
  --padding-300: 0.75em;
  --padding-400: 1em;
  --padding-500: 1.25em;
  --padding-600: 1.5em;
  --padding-700: 2em;
  --padding-750: 3em;
  --padding-800: 4em;
  --padding-850: 6em;
  --padding-900: 8em;
  --padding-950: 10em;
}


/* -- Document Reset -- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* 1. Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* 4. Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* 5. Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 6. A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 7. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 8. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


/* -- Global Styles -- */

body {
  background-color: var(--clr-grey-800);
  font-family: var(--ff-base);
  margin: 0 var(--padding-500);
}

h1 {
  font-size: 24px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h3 {
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--clr-grey-200);
}

h4 {
  font-size: 14px;
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-200);
  text-align: center;
  width: 70vw;
}

p {
  font-size: 11px;
  font-weight: var(--fw-ligth);
  color: var(--clr-grey-200);
}

.page-header {
  margin: var(--padding-200) 0 var(--padding-100) 0;
}

.heading-title {
  margin-top: var(--padding-200);
  text-align: center;
}

/* -- Container Styles -- */

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-padding-750 {
  padding-top: var(--padding-750);
}



/* -- Index -- */

.button {
  display: inline-block;
  height: 30px;
  width: 75px;
  font-size: 12px;
  overflow-y: scroll;
  color: var(--clr-grey-800);
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: var(--clr-grey-300);
  border: 1px solid var(--clr-grey-300);
}

#heading-img {
  border-radius: 15px;
}

#heading-img {
  border-radius: 15px;
}

/* CSS für die ungeordnete Liste */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  overflow-x: scroll; /* Zeige eine horizontale Scrollbar an, wenn der Inhalt über die Container-Breite hinausgeht */
  white-space: nowrap; /* Verhindern, dass der Inhalt umbrochen wird */
  margin-left: 5vw;
}

/* CSS für die Listenelemente */
li {
  margin: 10px 0;
}



/* -- Weather -- */

#weather-icon {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 90vw;
}



/* -- Sign in -- */

.sign-in-interface {
  display: flex;
  flex-direction: column;
}

#email {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-400);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#password {
  background-color: var(--clr-grey-600);
  margin-top: var(--padding-300);
  margin-bottom: var(--padding-700);
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  color: var(--clr-grey-200);
  padding-left: var(--padding-500);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#submit-signin {
  background-color: var(--clr-primary-600);
  color: var(--clr-white);
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
}

input:focus::placeholder {
  color: transparent;
}

.sign-in-hint {
font-size: 10px;
}